*{

}
body{
    font-family: 'Yatra One', cursive;
    

}
h1,h2{
    text-align: center;
    font-family: 'Lobster', cursive;
}
.img{
      display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}
p{
    text-align: center;
}


.flip-box {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    width: 1500px;
    height: 300px;
    background-color: hotpink;
    color: white;
    perspective: 1000px;
    border-radius: 30%;
    opacity: 80%;
  }
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-box:hover .flip-box-inner {
    transform: rotateX(180deg);
  }
  
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
 
.flip-box-back {
    background-color: hotpink;
    color: white;
    transform: rotateX(180deg);
    border-radius: 30%;
  }